@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css  */
body {
}
.container {
  max-width: 1320px;
  width: 82%;
  margin: 0 auto;
}
.btn_red {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
}
/* header css  */

#main_header {
  margin-top: 50px;
}
.header_banner {
  background-image: url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 177px 0;
}
.header_banner .banner_title {
  max-width: 632px;
  width: 82%;
  margin: 0 auto;
}
.header_banner .banner_title p {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.header_banner .banner_title h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section  */
#discount_section {
}
.discount_content {
  text-align: center;
  padding: 120px 0;
}
.discount_content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}
.discount_content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.discount_content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}

/* party secton  */
#party_section {
}

.party_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  padding: 68px 126px;
}
.party_content .party_title {
  max-width: 697px;
  width: 82.5%;
}
.party_content .party_title h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.party_content .party_title p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 48px 0;
}
.party_content .party_title .btn_water {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: transparent;
}
/* party times  */

#party_time {
  margin: 120px 0;
}
.times {
  background-color: rgb(236, 227, 227);

  text-align: center;
  padding: 100px 0;
}
.times h2 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.times span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

/* new best offer  */
#new_best_offer {
}
.best_offer {
  display: flex;
}
.best_offer .left_content {
  width: 27%;
}
.best_offer .left_content h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.best_offer .left_content p {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.best_offer .left_content h3 {
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}
