@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css  */
body {
}
.container {
  max-width: 1320px;
  width: 82%;
  margin: 0 auto;
}
.btn_red {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  border: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header css  */

#main_header {
  margin-top: 50px;
}
.header_banner {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 177px 0;
}
.header_banner .banner_title {
  max-width: 632px;
  width: 82%;
  margin: 0 auto;
}
.header_banner .banner_title p {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.header_banner .banner_title h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section  */
#discount_section {
}
.discount_content {
  text-align: center;
  padding: 120px 0;
}
.discount_content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}
.discount_content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.discount_content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}

/* party secton  */
#party_section {
}

.party_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  padding: 68px 126px;
}
.party_content .party_title {
  max-width: 697px;
  width: 82.5%;
}
.party_content img{
  mix-blend-mode:;
}
.party_content .party_title h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.party_content .party_title p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 48px 0;
}
.party_content .party_title .btn_water {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: transparent;
}
/* party times  */

#party_time {
  margin: 120px 0;
}
.times {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  text-align: center;
  padding: 100px 0;
}
.times h2 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.times span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

/* new best offer  */
#new_best_offer {
}
.best_offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best_offer .left_content {
  width: 31%;
}
.best_offer .left_content h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.best_offer .left_content h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 15px;
}
.best_offer .left_content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 25px 0;
}

.best_offer .content_image img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 45px;
}

.best_offer .right_content {
  float: left;
  width: 22%;
  margin-left: 30px;
}
.best_offer .right_content h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.best_offer .right_content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 30px 0;
}
.discount_content > .image{
  display: flex;
  justify-content: center;

}
/* holiday sale  */

.holidays_sele {
}
.holidays_content {
  padding: 80px 0;
}
.holidays_content .discription {
  max-width: 1068px;
  width: 82%;
  margin: 0 auto;
  text-align: center;
}
.holidays_content .discription h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holidays_content .discription h1 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 16px 0 28px 0;
}
.holidays_content .discription p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.hoiday_bannaer .lower {
  border-radius: 16px 0px 16px 16px;
  background: #f00;
  height: 229px;
  position: relative;
}
/* .hoiday_bannaer .lower img{
  top:100;
  left: 0;
  position: absolute;
} */
img{
  display: flex;
  align-items: end;
}
.hoiday_bannaer .upper {
  display: flex;
  justify-content: end;
  position: relative;
}
.upper> img{
  left: 0;
  top: 10px;
  position: absolute;
  z-index: 6;
}
.discount_image{
position: absolute;
right: 64%;
top: 15%;
}

/* portfollio section  */

#portfollio_section {
  margin: 120px 0;
}

.portfolio .portfollio_title {
  max-width: 896px;
  width: 82.5%;
}
.portfolio .portfollio_title h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio .portfollio_title h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.portfolio .portfollio_title p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 22px 0 48px 0;
}
.portfollio_content .row1,
.portfollio_content .row2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;
}
.portfollio {
  width: 32%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 15px;
  transition: 0.6s;
}
.portfollio img {
  width: 100%;
  display: flex;
}

.hover {
  width: 100%;
  display: none;
  height: 100%;
  background-color: #64bcb97e;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
}
.portfollio:hover .hover {
  display: flex;
}

/* newlalatter section  */

#newslatter_section {
  margin-bottom: 120px;
}
.newslatter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
}
.newslatter .massage_img{
  display: flex;
  justify-content: center;
}
.newslatter .discription {
  max-width: 896px;
  width: 82%;
  margin: auto;
  text-align: center;
}
.newslatter .discription h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 40px 0 22px 0;
}
.newslatter .discription p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.newslatter .subscribe {
  display: flex;
  justify-content: center;
}
.input_text {
  width: 438px;
  padding: 25px 0;
  padding-left: 30px;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: none;
  outline: none;
}
.btn_subscribe {
  padding: 25px 56px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
}

/* footer section  */

footer {
  background: #070211;
  color: #fff;
  padding: 120px 0;
}
footer hr {
  margin: 50px 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
}
.footer_dis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_item {
  width: 36%;
}
.left_item p,
.right_item li,
.right_item a {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.right_item {
  padding-right: 135px;
}

.right_item .fa-solid {
  padding-right: 15px;
}
.footer_middle ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.l_content p,
.r_content p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  align-items: center;
}
